* {
    margin: 5px;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    justify-content: flex-start;
    height: auto;
    width:auto;
}
.main {
    display: inline-block;
    position: relative;
    padding: 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-color: 10px #333;
}
.main:hover {
    padding: 16px;
    transform: scale(1.1, 1.1);
    border: 2px #333;
    border-radius: 5px;
    box-shadow: 0 2px 16px rgba(0,0,0);
    z-index: 5;
}

.image {
    height: 300px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.name {
    font-size: 25px;
    color: black;
    text-shadow: 0 0 3px #FF0000;
    font-weight: bold;
    text-align: center;
}
.species {
    font-size: 20px;
    color: green;
}
.location {
    font-size: 18px;
    color: blue;
}
.created {
    font-size: 22px;
    font-weight: bold;
}
   
